// mobile phones
$brk-small: 640px;
// small tablets
$brk-medium: 900px;
// medium tablets/small computers
$brk-large: 1340px;
// large computer screens

$brk-sidebar: $brk-large;

$csize: 68rem;
$csize-main: 48rem;
$csize-sidebar: 15rem;
