$bgcolor: #eee
$bordercolor: #999
$textcolor: #444

$code-bgcolor: #333
$code-textcolor: #fff
$code-bordercolor: #777

$faded-bgcolor: #ddd
$faded-bordercolor: #ccc
$faded-textcolor: #777

$focus-textcolor: #111

$small-fontsize: 14px
$normal-fontsize: 20px
$large-fontsize: 24px
