html {
	// force vertical scrollbar, never show horizontal scrollbar
	overflow-y: scroll;
	overflow-x: hidden;
}

// border-box is the future
* { box-sizing: inherit; }
body { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	background: $bgcolor;
	font-family: Palatino, Georgia, Lucida Bright, Book Antiqua, serif;
	font-size: $normal-fontsize;
	line-height: 1.8;
	color: $textcolor;
}


// headers
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0.25em;
}
h1, h2, h3 { line-height: 1; }
h1 { font-size: 2.4em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }


// general text elements
p, ul, ol, dl, table, blockquote, pre, h1, h2, h3, h4, h5, h6 {
	margin: 1.5em 0 0;
}


// link elements
a {
	color: $focus-textcolor;
	text-decoration: none;
}
a:visited {
	color: $faded-textcolor;
}


// images
img {
	// prevent images from overflowing their container
	max-width: 100%;
}
figure {
	margin: 0;
	padding: 0;
}


// lists
ul, ol, dd { padding: 0 0 0 0.5em; }
dd { margin: 0; }
ul ul, ol ol, ul ol, ol ul { margin: 0; }

ul > li { list-style-type: disc; }
li ul > li { list-style-type: circle; }
li li ul > li { list-style-type: square; }

ol > li { list-style-type: decimal; }
li ol > li { list-style-type: lower-roman; }
li li ol > li { list-style-type: lower-alpha; }


// tables
table {
	width: 100%;
	border-collapse: collapse;
	overflow-x: auto;
}
th { white-space: normal; }
th, td {
	border-width: 1px;
	padding: 0 0.1em;
}


// code/config snippet containers
code, pre, samp, kbd {
	font-family: 'Source Code Pro', monospace;
}
code, samp, kbd {
	background: $block-bgcolor;
	border: 1px solid $faded-bordercolor;
	color: $focus-textcolor;
	font-size: $small-fontsize;
	display: inline-block;
	padding: 0 .25em;
}
pre {
	background: $block-bgcolor;
	border: 1px solid $faded-bordercolor;
	display: block;
	padding: .2em .6em;
	white-space: pre-wrap;
}
pre code {
	border: none;
	padding: 0;
	background-color: transparent;
	display: inherit;
}


// misc elements
hr {
	height: 0px;
	width: 75%;
	border: none;
	border-bottom: 1px dashed $block-bgcolor;
	margin-top: 2em;
	margin-bottom: 2em;
}
