// page layout - limit width and vertically center
.site-container {
	max-width: 70rem;
	padding: 0 1rem;
	margin: auto;
}
.main {
	width: 45rem;
	float: left;
}
.sidebar {
	width: 20rem;
	float: right;
}
.footer {
	clear: both;
}


// sidebar
.sidebar {
	padding-top: 2em;
	font-size: 16px;

	.menu {
		a {
			display: block;
		}
	}

	.links {
		line-height: 1.4;
		vertical-align: top;
	}
}


// main content
.post-header, .page-header {
	margin-top: 2em;
}
.post-title, .page-title {
	margin: 0;

	a, a:visited {
		color: $focus-textcolor;
	}
	a:hover {
		@include dotted-underline;
	}
}
.post-body, .page-body {
	a {
		@include dotted-underline;
	}
}

.post-pubdate {
	color: $faded-textcolor;
	// makes it line up better with the title, since title is much larger font
	margin-left: .15em;
}

.comments {
	margin-top: 2em;
}

.post-tags {
	font-style: italic;
}

.archives_link {
	margin: 1em 0;
	font-size: $large-fontsize;
	text-align: center;

	a {
		@include dotted-underline;
	}
}

// footer
.footer {
	margin: 2em 0 1em;
	font-size: $small-fontsize;
	text-align: center;
}
