// page layout - limit width and vertically center
.site-container {
	max-width: 40em;
	padding: 0 1em;
	margin: auto;
}

// header
.header {
	@include clearfix;
	a {
		line-height: 3em;
		display: inline-block;
	}
	@media screen and (max-width: 30em) {
		font-size: 14px;
	}
}
.header-left {
	float: left;
}
.header-right {
	float: right;
	a {
		margin-left: 1em;
	}
}

// main content
.post-header, .page-header {
	margin-top: 2em;
}
.post-title, .page-title {
	margin: 0;

	a, a:visited {
		color: $focus-textcolor;
	}
	a:hover {
		@include dotted-underline;
	}
}
.post-body, .page-body {
	a {
		@include dotted-underline;
	}
}

.post-pubdate {
	color: $faded-textcolor;
	// makes it line up better with the title, since title is much larger font
	margin-left: .15em;
}

.comments {
	margin-top: 2em;
}

.archives_link {
	margin: 1em 0;
	font-size: $large-fontsize;
	text-align: center;

	a {
		@include dotted-underline;
	}
}

// footer
.footer {
	margin: 2em 0 1em;
	font-size: $small-fontsize;
	text-align: center;
}
