feedgen==0.9.0
ghp-import==2.1.0
Jinja2==2.11.3
libsass==0.23.0
lxml==5.2.2
Markdown==3.6
MarkupSafe==2.0.1
python-dateutil==2.9.0.post0
python-slugify==4.0.1
russell==0.6.0
setuptools==69.5.1
six==1.16.0
text-unidecode==1.3
wheel==0.43.0
