feedgen==0.9.0
ghp-import==2.0.1
Jinja2==2.11.2
libsass==0.20.1
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
python-dateutil==2.8.1
python-slugify==4.0.1
russell==0.6.0
six==1.15.0
text-unidecode==1.3
