{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% for post in posts %}
	<article class="post">
		<header class="post-header">
			<span class="post-pubdate">{{ post.pubdate.strftime('%B %d, %Y') }}</span>
			<h2 class="post-title">
				<a href="{{ root_url }}/posts/{{ post.slug }}">{{ post.title }}</a>
			</h2>
		</header>
		<div class="post-body">
			{{ post.body }}
		</div>
	</article>
	<hr>
{% endfor %}
<div class="archives_link">
	<a href="{{ root_url }}/archive">Archives/older posts</a>
</div>
{% endblock %}
