{% macro links_block(links, title) %}
{% if links %}
<aside class="links">
	<h3 class="links-title">{{ title }}</h2>
	<ul>
	{% for link in links[:5] %}
		<li>
			<a href="{{ link.url }}">{{ link.title }}</a>
			<span class="link-site">{{ link.url | extract_domain }}</span>
			<span class="link-date">{{ link.date }}</span>
		</li>
	{% endfor %}
	</ul>
</aside>
{% endif %}	
{% endmacro %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - {{ site_title }}</title>
	<meta name="description" content="Just another website about mostly programming.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" type="application/rss+xml" href="{{ root_url }}/rss.xml" title="{{ site_title }} - RSS feed">
	<link rel="stylesheet" href="{{ root_url }}/assets/style.css?v2">
	<link rel="icon" href="data:;base64,=">
</head>
<body>

<div class="site-container">
	<main class="main">
	{% block content %}{% endblock %}
	</main>
	<section class="sidebar">
		<h2>Links</h2>
		<aside class="menu">
			<ul>
				<li><a href="{{ root_url }}" class="header-left">Home</a></li>
				<li><a href="{{ root_url }}/about">About me</a></li>
				<li><a href="https://github.com/anlutro" target="_blank">GitHub</a></li>
				<li><a href="{{ root_url }}/rss.xml">RSS feed</a></li>
			</ul>
		</aside>

		<h2>Stuff I've read</h2>
		{{ links_block(prog_links, 'Programming and computers in general') }}
		{{ links_block(other_links, 'Politics, news, philosophy, other') }}
	</section>

	<footer class="footer">
		2012-2016 &copy; Andreas Lutro - Built with <a href="https://github.com/anlutro/russell">Russell</a>
	</footer>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34401967-1', 'lutro.me');
  ga('send', 'pageview');
</script>

</body>
</html>
