{% macro disqus_comments(entry) %}
<div id="disqus_thread" class="comments">
	<a href="javascript:loadDisqus()">Load comments from Disqus</a>
</div>
<script type="text/javascript">
function loadDisqus() {
	document.getElementById('disqus_thread').innerHTML = 'Loading...';
	window.disqus_shortname = 'lutro';
	window.disqus_identifier = "{{ entry.slug }}";
	window.disqus_title = "{{ entry.title }}";
	var dsq = document.createElement('script');
	dsq.type = 'text/javascript';
	dsq.async = true;
	dsq.src = '//' + window.disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
}
</script>
<noscript>Comments are powered by Disqus and require Javascript to be enabled.</noscript>
{% endmacro %}
