{% from 'macros.jinja' import disqus_comments %}

{% extends 'layout.html.jinja' %}

{% block body_class %}single single-page{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description | e }}{% endblock %}
{% block content %}

	<article class="page">
		<header class="page-header">
			<h2 class="page-title">
				{{ page.title }}
			{%- if page.subtitle %}
				<small>{{ page.subtitle }}</small>
			{%- endif %}
			</h2>
		</header>
		<div class="page-body">
			{{ page.body }}
		</div>
	</article>

{% if page.allow_comments %}
	{{ disqus_comments(page) }}
{% endif %}

{% endblock %}
