{% macro links_block(links, title) %}
{% if links %}
<aside class="links">
	<h3 class="links-title">{{ title }}</h2>
	<ul>
	{% for link in links[:5] %}
		<li>
			{{ a(link.title, link.url, blank=true) }}
			<span class="link-site">{{ link.url | extract_domain }}</span>
			<span class="link-date">{{ link.date }}</span>
		</li>
	{% endfor %}
	</ul>
{#
	{% if links | length > 5 %}
	<a href="{{ root_url }}/links/other" class="links-all">More</a>
	{% endif %}
#}
</aside>
{% endif %}	
{% endmacro -%}

<h1 class="site-title"><a href="{{ root_url }}">lutro.me</a></h1>
<small class="site-subtitle">Andreas Lutro</small>

<aside class="menu">
	<ul>
		<li><a href="{{ root_url }}/about">About me</a></li>
		<li>{{ a('GitHub', 'https://github.com/anlutro', blank=true) }}</li>
		<li>{{ a('Twitter', 'https://twitter.com/AndreasLutro', blank=true) }}</li>
		<li><a href="{{ root_url }}/rss.xml">RSS feed</a></li>
	</ul>
</aside>

<aside class="tag_cloud">
	<h2>Tags</h2>
	<div class="tags">
	{%- for tag in tags | sort(attribute='slug') %}
		<a href="{{ tag.url }}" class="tag">{{ tag.title }}</a>
	{%- endfor %}
	</div>
</aside>

<h2>Current links</h2>
{{ links_block(prog_links, 'Software and computers') }}
{{ links_block(other_links, 'Politics and news') }}
{{ links_block(music_links, 'Music') }}
